
body {
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color: black;
}
h1{
    font-size: 3em;
    font-weight: bold;
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: black;
    height: 500px;
    color: darkorange;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: darkorange;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: black;
    color: darkorange;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
.quote {
    text-align: center;
    margin-top: 80px;

}
.linksfooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.blogArea {
    text-align: left;
    color: white;
    padding: 12px;
    position: relative;
    left: 65px;
}
